In [1]:
#Import libraries 
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('/Users/zacharygreen/Desktop/instacart analysis/data/original data/orders.csv', index_col=False)

In [5]:
path='/Users/zacharygreen/Desktop/instacart analysis'

In [6]:
path

'/Users/zacharygreen/Desktop/instacart analysis'

In [7]:
df=pd.read_csv(os.path.join(path, 'data', 'original data', 'orders.csv'),index_col=False)

In [8]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [9]:
df=pd.read_csv(os.path.join(path, 'data', 'original data', 'orders.csv'), usecols=vars_list)

In [10]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0