In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path='/Users/zacharygreen/Desktop/instacart analysis'

In [3]:
df_ords_prior=pd.read_csv(os.path.join(path, 'data', 'original data', 'order_products__prior.csv'), index_col=False)

In [4]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords=pd.read_csv(os.path.join(path, 'data', 'prepared data', 'df_clean_ords.csv'), index_col=False)

In [7]:
df_merged_large=df_ords.merge(df_ords_prior, on ='order_id', indicator=True)

In [8]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [9]:
df_merged_large.to_pickle(os.path.join(path, 'data', 'prepared data', 'orders_products_combined.pkl'))